
header{
    background-color: orange;
    color: black;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;

}
nav{
    background-color: white;
    
    border-radius: 5px;
   
}

.punto{
    display: flex;
 
}

.punt{
    list-style: none;
    border: solid 1px;
    border-radius: 5px;
    text-transform: uppercase;
    border: dashed;
    border-color: orange;
    background-color: rgb(252, 216, 148);
    width: 10%;
    margin: 3px;
}
main{
    background-color: rgb(239, 218, 164);
    border-radius: 5px;
    height: 1080px;
    padding: 30px;
    text-align: center;
}



footer{
    background-color: orange;
    padding: 20px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;

}

.nombres{
    height: 200px;
    border-radius: 5px;
    border: solid;
    border: dashed;
    border-color: orange;
    background-color: rgb(252, 216, 148);
    margin: 10px;
    text-transform: capitalize;
}
.apellidos{
    height: 200px;
    border-radius: 5px;
    border: solid;
    border: dashed;
    border-color: orange;
    background-color: rgb(252, 216, 148);
    margin: 10px;
    text-transform: capitalize;
}

.direccion{
    height: 200px;
    border-radius: 5px;
    border: solid;
    border: dashed;
    border-color: orange;
    background-color: rgb(252, 216, 148);
    margin: 10px;
    text-transform: capitalize;
}

.telefono{
    height: 200px;
    border-radius: 5px;
    border: solid;
    border: dashed;
    border-color: orange;
    background-color: rgb(252, 216, 148);
    margin: 10px;
    text-transform: capitalize;
}

.correo{
    height: 200px;
    border-radius: 5px;
    border: solid;
    border: dashed;
    border-color: orange;
    background-color: rgb(252, 216, 148);
    margin: 10px;
    text-transform: capitalize;
}
.corr{
    text-transform: lowercase;
}
